name: CI

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build-and-test:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Build and test
      run: xcodebuild clean build test -project EssentialFeed2.xcodeproj -scheme "CI" CODE_SIGN_IDENTITY="", CODE_SIGN_REQUIRED=NO -sdk macosx -destination "platform=macOS" ONLY_ACTIVE_ARCH=YES
