name: CI_iOS

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build-and-test"
  build-and-test:
    # The type of runner that the job will run on
    runs-on: macos-26

    timeout-minutes: 8

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v4

    - name: Select Xcode
      run: sudo xcode-select -switch /Applications/Xcode_26.0.app
      
    - name: Xcode version
      run: /usr/bin/xcodebuild -version
    
    - name: Build and test
      run: xcodebuild clean build test -project EssentialFeed2/EssentialFeed2.xcodeproj -scheme "CI_iOS" CODE_SIGN_ALLOWED=NO CODE_SIGN_IDENTITY="-" -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPhone 17 Pro Max,OS=26.0" ONLY_ACTIVE_ARCH=YES
